[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
grpcio = "*"
asyncio = "*"
aiohttp = "*"
ecdsa = "*"
bech32 = "*"
mnemonic = "*"
hdwallets = "*"
pysha = "*"
protobuf = "*"
grpcio-tools = "*"
bip32 = "*"

[dev-packages]

[requires]
python_version = "3"
