[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
protobuf = "*"
grpcio-tools = "*"
grpcio = "*"
asyncio = "*"
aiohttp = "*"
ecdsa = "*"
bech32 = "*"
mnemonic = "*"
hdwallets = "*"
bip32 = "*"
requests = "*"
coincurve = "*"
aiocron = "*"
websockets = "*"
urllib3 = "<2"
safe-pysha3 = "*"
eip712 = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
requests-mock = "*"

[requires]
python_version = "3"
